body{
	background: #243b55;
}
.porspan{
	width: 100%;
	height: 5vh;
	display: flex;
	justify-content:space-around ;
	list-style-type: none;
	background:#243b55;
	padding: 1%;
	position: fixed;
}
.Home,.Service,.About,.Register{
	color: white;
}
.pdiv{
	background: black;
	width: 100%;
	height: 100vh;
	border: 1px solid black;
}
.pdiv1{
	width: 40%;
	height: 50vh;
	display: inline;
	float: left;
	color: red;
	padding: 10% 5%;
}
.ph1{
	display: flex;
	float: left;
	font-size: 8vw;
	margin: 10% 0 0 0;

}
#ph6{
	margin: 40% 0 0 0;
}
.pdiv2{
	width: 49%;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15%;
}
.img1{
	width: 50%;
	display: inline;
	float: right;
}

.pdiv3{
	width: 100%;
	height: 100vh;
	border: 1px solid black;
	background: url("../media/programar1.jpg");
	background-size: 100% 100%;
}
#Home,#Service,#About,#Register{
	width: 100%;
	height: 10vh;
	color: white;
	font-size: 2vw;
	display: flex;
	align-items: center;
	justify-content: center;
	background:#243b55 ;
}
.pdiv3{
	justify-content: space-around;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.pimg{
/*	flex: grow shrink basis;*/
	flex: 0 10%;
	margin: 5% ;
/*	width: 20%;*/
	height: 20vh;
}
#img1,#img2,#img3,#img4,#img5,#img6,#img7,#img8,#img9,#img10{
	width: 100%;
	height: 20vh;
}
.pjava,.pphp,.ppython,.pc,.phtml,.pbootstrap,.pruby,.pdatabase,.pjavascript,.pscala{
	width: 80%;
	height: 30vh;
	margin: 0 0 0 100px;
}
.img1{
	width: 30%;
	height: 30vh;
	display: flex;
	float: left;
}
.img11{
	width: 50%;
	height: 30vh;
	display: flex;
	float: right;
}

.pdiv6{
	width: 100%;
	height: 10%;
	color: black;
	font-size: 2vw;
}
#space{
	height: 3vh;
}

#preg_form label{
	color: red;
}
#input{
	width: 170px;
	height: 5vh;
	background: white;
	color: red;
}
#button{
	width: 170px;
	height: 5vh;
	
	color: black;
}
.Home:hover,.Service:hover,.About:hover,.Register:hover{
	background: yellow;
	color: black;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
}
#input:hover{
	background: blue;
	color: white;
}
#button:hover{
	background: red;
	color: white;
}
.boxdiv1{
	width: 100%;
	height: 80vh;
	display: flex;
	text-align: center;
}
.boxdiv2{
	width: 49.9%;
	height: 80vh;	
	float: left;
	display: inline;
	background: #243b55;
	color: white;
}
.boxdiv3{
	width: 49.9%;
	height: 80vh;
	background: blue;
	float: right;
}
.boxdiv4{
	width: 100%;
	height: 10vh;
	background: #243b55;
	display: flex;
	justify-content: center;
}
#preg_form{
	width: 95.5%;
	height: 70vh;
	padding-top: 10%;
	padding-left: 5.1%;
	background: url("../media/developer.jpg");
	background-size: 100% 100%;
}
#i{
	padding: 0 30px 0 0;
}
.ft{
	color: white;
}
